header {

    display: flex;
    justify-content: space-between;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    
}

.main-nav li {
    margin: 28px;
    
}

.profile, .projects, .contact {
    margin: 300px;
}
.profile, .projects, .contact h1  {
  display: flex;
  justify-content: center;
}

.main-page img {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 800px;
}


