header {

    display: flex;
    justify-content: space-between;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    
}

.main-nav li {
    margin: 28px;
    
}

.main-page, .profile, .projects, .contact {
    margin: 550px;
}
.profile, .projects, .contact h1  {
  display: flex;
  justify-content: center;
}

